[Unit]
Description=command center syslog shipper service
After=network.target

[Service]
Restart=always
RestartSec=1
User=ccsyslog
ExecStart=/usr/bin/ccsyslogshipperservice --config=/etc/ccsyslog/config.json

[Install]
WantedBy=multi-user.target