[Unit]
Description=command center syslog ingester service
After=network.target

[Service]
Restart=always
RestartSec=1
User=ccsyslog
ExecStart=/usr/bin/ccsyslogingester --config=/etc/ccsyslog/config.json

[Install]
WantedBy=multi-user.target